<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chatbot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'assets/js/chat.js' %}"></script>

    <link rel="stylesheet" href="{% static 'assets/css/grammar_check.css' %}">

</head>


<body>
    <div>
        <input type="text" id="inputId" name="inputName" onkeyup="enterkey();">
        <input type="button" onclick="sendAsk()" value="Get Value">
        <form action="{% url 'clear_history' %}", method="GET">
            <input type="submit", value="Clear history">
        </form>

    </div>
    <div id="check"></div>
    <div id="chatbox"></div>
</body>
</html>